.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form > div:not(.loading) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.add-form > div > div {
  display: flex;
  flex-direction: column;
}

.coords {
  position: relative;
}

.reset {
  position: absolute;
  left: 105%;
  top: 50%;
  cursor: pointer;
}

.add-form label {
  margin: 0;
}

input {
  height: 30px;
  border-radius: 10px;
}

button[type="submit"] {
  self-align: center;
  margin-top: 10px;
  width: 100px;
}
